* {
  box-sizing: border-box;
}

.headline {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.container {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 6rem;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 3.5rem;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 400px; 
    width: 100%;
  height: 450px; 

  /* this property will  not stratch the img inside container  */
  object-fit: cover;
  object-position: top ;


  
}


.desc {
  padding: 15px;
  text-align: center;
}
.info {
  text-align: center;
}
.job {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

@media only screen and (max-width: 1024px) {
  #grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  #grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  #grid {
    grid-template-columns: repeat(1, 1fr);
  }

  div.gallery img {
  width: 100%;
  height: 450px; 
  object-fit: cover;
  object-position: top ;

  
}
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .grid {
    column-gap: initial;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #grid {
    /* display: repeat(1, 1fr); */
    display: block;
    margin-bottom: 20px;
  }

  div.gallery {
    margin-bottom: 4rem;
  }
}
